*.o
*.a
*.lib
*.ncb
*.pdb
*.suo
*.idb
*.user
*.sdf
*.opensdf
moc_*.cpp
qrc_*.cpp
ui_*.h
.*.swp
.DS_Store
.qmake.stash
*~
/Debug Edit/
/Debug Runtime/
/Release Edit/
/Release Runtime/
/editor/debug/
/editor/release/
/editor/editor/
/editor/editor.app/
/examples/example_bass
/examples/Debug Edit/
/examples/Debug Runtime/
/examples/Release Edit/
/examples/Release Runtime/
/examples/x64/
/examples/include/
/examples/lib/
/examples/lib64/
/lib/Debug Edit/
/lib/Debug Runtime/
/lib/Release Edit/
/lib/Release Runtime/
/lib/x64/
/packages/
/x64/
build-*
editor/object_script.editor.*
**/*.dll

